.pack__title {
    font-size: 2rem;
    color: #18513D;
    text-align: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.pack__subtitle {
    color: #E85E2F;
    padding: 0rem 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.pack {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.pack__article {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    /* Esto recorta el contenido que se sale de los límites */
}

.pack__headerContainer {
    position: relative;
    width: 26rem;
    z-index: 2;
    margin: 0rem 1.5rem 0rem 1.5rem;
}

.pack__headerContainer:hover {
    cursor: pointer;
}

.pack__contentContainer {
    position: relative;
    /* Permite que se mueva sin salirse del flujo y sea recortado por el overflow del padre */
    width: 26rem;
    z-index: 1;
    border-radius: 0 0 0.4rem 0.4rem;
    text-align: justify;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    padding-bottom: 1.5rem;
    height: fit-content;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateY(0);
    opacity: 1;
}

.pack__contentContainer--hidden {
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;
}

.pack__articleTitle {
    font-size: 1.8rem;
    padding: 1.5rem 1rem;
    color: white;
    text-align: center;
    border-radius: 0.4rem;
}

.pack__articleTitle--bonus {
    background-color: #FE8A01;
}

.pack__articleTitle--aventureros {
    background-color: #A38AC1;
}

.pack__articleTitle--innovadores {
    background-color: #93D352;
}

.pack__articleTitle--creadores {
    background-color: #03AF98;
}

.pack__articleText {
    color: #18513D;
    padding: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.pack__articleText--bonus {
    text-align: center;
    font-weight: 900;
    padding-bottom: 0;
}

.pack__imgs {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    /* Ajusta según contenido */
    transform-style: preserve-3d;
    animation: flipAnimation3 12s ease-in-out infinite;
}

.pack__imgFront,
.pack__imgBack {
    backface-visibility: hidden;
}

.pack__imgFront {
    position: absolute;
}

.pack__imgBack {
    position: relative;
    transform: rotateY(180deg);
    /* Hace que el lado trasero aparezca después del giro */
}

.pack__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Evita que la imagen se deforme */
    object-position: top;
    border-radius: 0.4rem;
}

.invisible {
    display: none;
}

.pack__animation .icon-tree path,
.pack__animation .icon-tree circle,
.pack__animation .Icon-leaf svg,
.pack__animation .Icon-leaf2 svg {
    fill: #ffffff;
}

.hidden {
    opacity: 0;
}

/* Cuando se activa la animación */
.animate {
    animation: slideInLeft 1s forwards;
}

.pack__hexagon {
    clip-path: polygon(35% 5%, 65% 5%, 90% 50%, 65% 95%, 35% 95%, 10% 50%);
    overflow: hidden;
    /* Asegura que la imagen se recorte correctamente */
    position: relative;
    /* Para posicionar adornos si es necesario */
}

.pack__darkOrangeHexagon {
    bottom: 15rem;
    right: 0rem;
    animation: flipAnimation3 12s ease-in-out infinite;
}
.pack__darkOrangeHexagon svg {
    width: 12rem;
}
.pack__yellowHexagon {
    right: 1.5rem;
    bottom: 0;
    z-index: 1;
    animation: flipAnimation3 12s ease-in-out infinite;
}
.pack__yellowHexagon svg {
    width: 8rem;
}
.pack__purpleHexagon {
    left: -1rem;
    animation: flipAnimation3 12s ease-in-out infinite;
}
.pack__purpleHexagon svg {
    width: 14rem;
}

@media (min-width:700px) {
    .pack__headerContainer {
        width: 28rem;
    }

    .pack__contentContainer {
        width: 28rem;
    }

    .pack__title {
        font-size: 2.4rem;
    }

    .pack__subtitle {
        font-size: 1.8rem;
    }

    .pack__articleTitle {
        font-size: 2rem;
    }

    .pack__articleText {
        font-size: 1.8rem;
    }
}

@media (min-width:1000px) {
    .pack__headerContainer {
        width: 30rem;
    }

    .pack__contentContainer {
        width: 30rem;
    }

    .pack__title {
        font-size: 2.6rem;
    }

    .pack__subtitle {
        font-size: 2rem;
    }

    .pack__articleTitle {
        font-size: 2.2rem;
    }

    .pack__articleText--bonus {
        font-weight: 900;
    }

    .pack__darkOrangeHexagon svg {
        width: 14rem;
    }
    .pack__yellowHexagon {
        right: 0.5rem;
    }
    .pack__yellowHexagon svg {
        width: 10rem;
    }
    .pack__purpleHexagon svg {
        width: 16rem;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flipAnimation3 {

    /* 0% a 37.5%: Frente (6s de 16s) */
    0%,
    37.5% {
        transform: rotateY(0deg);
    }

    /* 37.5% a 50%: Transición de frente a reverso (2s) */
    50% {
        transform: rotateY(180deg);
    }

    /* 50% a 87.5%: Reverso (6s) */
    87.5% {
        transform: rotateY(180deg);
    }

    /* 87.5% a 100%: Transición de reverso a frente (2s) */
    100% {
        transform: rotateY(0deg);
    }
}