.experiences {
  margin-top: 2rem;
}

.experiences__title {
  font-size: 2rem;
  color: #18513D;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.experiences__subtitle {
  color: #AE712B;
  padding: 0rem 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.experiences__article {
  padding: 1.5rem;
  border-radius: 0.4rem;
  text-align: left;
  color: white;
  box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 16%);
  margin: 1.5rem;
  height: fit-content;
  overflow: hidden;
}

.experiences__article--educacion {
  background-color: #A38AC1;
}

.experiences__article--experiencias {
  background-color: #FE8A01;
}

.experiences__article--bienestar {
  background-color: #03AF98;
}

.experiences__article--alianzas {
  background-color: #E85E2F;
}

.experiences__textContainer {
  flex: '0 0 61.8%';
  /*Uso del ratio de oro para el área de texto */
  padding-right: 2rem;
}

.experiences__titleArticle {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.experiences__speechArticle {
  font-size: 1.5rem;
  font-weight: 300;
}

.experiences__imgArticle {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  /* Ajusta según contenido */
  transform-style: preserve-3d;
}

.experiences__imgArticle--section3 {
  animation: flipAnimation2 12s ease-in-out infinite;
}

.experiences__images--front,
.experiences__images--back {
  backface-visibility: hidden;
}

.experiences__images--front {
  position: absolute;
}

.experiences__images--back {
  position: relative;
  transform: rotateY(180deg);
  /* Hace que el lado trasero aparezca después del giro */
}

.experiences__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Evita que la imagen se deforme */
  object-position: center;
  border-radius: 0.4rem;
}

.experiences__animation .icon-tree path,
.experiences__animation .icon-tree circle,
.experiences__animation .Icon-leaf svg,
.experiences__animation .Icon-leaf2 svg {
  fill: #ffffff;
}

/* Estado inicial: los artículos están opacos */
.hidden-article {
  opacity: 0;
}

/* Cuando se activa la animación */
.experiences__article.animate.slide-left {
  animation: slideInLeft 1s forwards;
}

.experiences__article.animate.slide-right {
  animation: slideInRight 1s forwards;
}

.experiences__hexagon {
  clip-path: polygon(35% 5%, 65% 5%, 90% 50%, 65% 95%, 35% 95%, 10% 50%);
  overflow: hidden;
  /* Asegura que la imagen se recorte correctamente */
  position: relative;
  /* Para posicionar adornos si es necesario */
}

.experiences__upRightHexagon {
  right: -1rem;
  bottom: 13rem;
  z-index: 1;
}

.experiences__upRightHexagon svg {
  width: 12rem;
}

.experiences__downRightHexagon {
  right: -4rem;
  bottom: 0rem;
}

.experiences__downRightHexagon svg {
  width: 15rem;
}

.experiences__upLeftHexagon {
  left: -1rem;
  bottom: 10;
}

.experiences__upLeftHexagon svg {
  width: 14rem;
}

.experiences__hexagonAnimation {
  animation: flipAnimation2 12s ease-in-out infinite;
}

@media (min-width: 500px) {
  .experiences__upRightHexagon {
    bottom: 25rem;
  }

  .experiences__upRightHexagon svg {
    width: 15rem;
  }

  .experiences__downRightHexagon svg {
    width: 18rem;
  }

  .experiences__upLeftHexagon svg {
    width: 17rem;
  }
}

@media (min-width: 700px) {

  .experience__firstArticles,
  .experience__secondArticles {
    width: 50%;
  }

  .experiences__articleContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 130rem;
  }

  .experiences__title {
    font-size: 2.4rem;
  }

  .experiences__subtitle {
    font-size: 1.8rem;
  }

  .experiences__titleArticle {
    font-size: 2rem;
  }

  .experiences__speechArticle {
    font-size: 1.6rem;
  }

  .experiences__speechArticle {
    font-size: 1.8rem;
  }

  .experiences__upRightHexagon {
    right: -1rem;
    bottom: 13rem;
  }

  .experiences__upRightHexagon svg {
    width: 12rem;
  }

  .experiences__downRightHexagon svg {
    width: 15rem;
  }

  .experiences__upLeftHexagon svg {
    width: 14rem;
  }
}


@media (min-width: 1000px) {

  .experience__firstArticles,
  .experience__secondArticles {
    width: 90rem;
  }

  .experiences__titleArticle {
    font-size: 2.2rem;
  }

  .experiences__title {
    font-size: 2.6rem;
  }

  .experiences__speechArticle {
    font-size: 1.8rem;
  }

  .experiences__subtitle {
    font-size: 2rem;
  }

  .experiences__upRightHexagon {
    bottom: 25rem;
  }

  .experiences__upRightHexagon svg {
    width: 15rem;
  }

  .experiences__downRightHexagon svg {
    width: 18rem;
  }

  .experiences__upLeftHexagon svg {
    width: 17rem;
  }
}

@media (min-width: 1300px) {
  .experiences__upRightHexagon {
    bottom: 32rem;
    right: 4rem;
  }

  .experiences__upRightHexagon svg {
    width: 18rem;
  }

  .experiences__downRightHexagon {
    right: 0rem;
  }

  .experiences__downRightHexagon svg {
    width: 20rem;
  }

  .experiences__upLeftHexagon svg {
    width: 22rem;
  }
}

@keyframes flipAnimation2 {

  /* 0% a 37.5%: Frente (6s de 16s) */
  0%,
  37.5% {
    transform: rotateY(0deg);
  }

  /* 37.5% a 50%: Transición de frente a reverso (2s) */
  50% {
    transform: rotateY(180deg);
  }

  /* 50% a 87.5%: Reverso (6s) */
  87.5% {
    transform: rotateY(180deg);
  }

  /* 87.5% a 100%: Transición de reverso a frente (2s) */
  100% {
    transform: rotateY(0deg);
  }
}

/* Animaciones para móviles (columna única) */
@keyframes slideInLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}