.introduction {
    padding: 2rem 0;
    background-color: #18513D;
    color: white;
}

.introduction__title {
    font-weight: bold;
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
}
.introduction__slogan {
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 1.236rem;
    text-align: center;
}
.navBar {
    display: none;
}

@media (min-width: 700px) {
    .nabBar__item {
        padding: 0 1rem;
        text-align: center;
      }
    .navBar {
        display: block;
        background-color: #18513D;
        padding: 2rem 0;
        
    }
    .nabBar__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        
    }
    .nabBar__item a{
        color: white;
        text-decoration: none;
        font-size: 1.6rem;
    }
    .introduction {
        display: none;
    }
}

@media (min-width: 1000px) {
    .nabBar__item a{
        font-size: 2rem;
    }
    .nabBar__list {
        max-width: 1200px;
    }
}