* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 1.6rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Ocupa al menos la altura total de la ventana */
}

.main-content {
  flex: 1;
  overflow: hidden;
  /* Hace que el contenido principal crezca y empuje el footer hacia abajo */
}

@media (min-width: 1000px) {
  body {
    background-size: cover;
  }
}