* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  font-size: 1.6rem;
  background: 
    linear-gradient(rgba(244, 244, 244, 0.85), rgba(232, 232, 232, 0.95)), /* Capa de color encima */
    url('./fondoOptimize.jpg'); /* Imagen de fondo */
  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija el fondo mientras se desplaza */
}

@media (min-width: 1000px) {
  body {
    background-size: cover;
  }
}